In [1]:
%matplotlib inline
import pandas as pd

In [23]:
rsvps = pd.read_csv("data/rsvp.csv")

In [24]:
rsvps.head()

                   name                id rsvp_status          event_id
0        Anna Dudzińska  1490062834615246   attending  1003506093022823
1             Ola Góras  1503509646590911   attending  1003506093022823
2      Agnieszka Siudak  1522214584713449   attending  1003506093022823
3         Maciej Skobel  1564556903780155   attending  1003506093022823
4  Krzysztof Tymczyński   416073011881753   attending  1003506093022823

In [25]:
rsvps.rsvp_status.value_counts()

attending    37454
unsure       20018
declined      6138
Name: rsvp_status, dtype: int64

In [26]:
len(rsvps.id.unique())

36440

In [27]:
len(rsvps.name.unique())

35350

In [29]:
rsvps.id.value_counts().value_counts().head(10)

1     27374
2      4546
3      1666
4       896
5       502
6       334
7       227
8       173
9       137
10      104
Name: id, dtype: int64

In [30]:
df_mayattend = rsvps[rsvps.rsvp_status != "declined"]

In [31]:
at_least_twice = df_mayattend.id.value_counts()
at_least_twice = at_least_twice[at_least_twice > 1]
df_mayattend = df_mayattend[df_mayattend.id.isin(at_least_twice.index)]

In [32]:
len(df_mayattend.id.unique())

8219

In [34]:
df_mayattend[["id", "event_id", "rsvp_status"]].to_csv("data/rsvp2.csv", index=False)

In [36]:
more = df_mayattend.id.value_counts()
more = more[at_least_twice > 3]
df_mayattend = df_mayattend[df_mayattend.id.isin(more.index)]
len(df_mayattend.id.unique())

2568

In [40]:
df_mayattend[["id", "event_id", "rsvp_status"]].to_csv("data/rsvp4.csv", index=False)

In [39]:
len(df_mayattend.event_id.unique())

351

In [37]:
df_mayattend.event_id.value_counts().value_counts()

2      35
1      34
3      20
4      17
7      11
5      10
8       9
11      7
21      6
14      6
22      5
44      5
10      5
9       5
15      4
18      4
6       4
24      4
28      4
29      4
38      4
13      4
12      3
54      3
19      3
25      3
36      3
27      3
26      2
17      2
       ..
171     1
173     1
179     1
181     1
185     1
186     1
118     1
114     1
56      1
113     1
57      1
58      1
63      1
64      1
65      1
67      1
69      1
71      1
74      1
75      1
76      1
80      1
439     1
85      1
87      1
90      1
91      1
93      1
104     1
83      1
Name: event_id, dtype: int64